<section  class="min-h-screen bg-gray-50 ">
<div class="flex flex-col items-center justify-center">
    <button (click)="goToHome()"
        class="cursor-pointer flex-col justify-center items-center mb-6 text-3xl font-semibold text-white">
            <!-- <i class="fas fa-coffee mr-4 mt-2"></i> -->
            <span class="mx-auto font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-500 to-pink-500">
                <i class="fas fa-coffee mr-4 mt-20"></i>Coffee Chronicles
            </span>
        
    </button>
</div>
<div class="flex flex-col justify-center mt-1">
    <div class="mx-auto min-w-[500px] mt-1">
        <mat-card>
            <mat-card-title style="color: blue;">Register Here</mat-card-title>
            <mat-card-content>
                <form [formGroup]="signupForm">
    
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" placeholder="First Name" required>
                        <mat-error *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
                            Please enter a valid first name.
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" placeholder="Last Name" required>
                        <mat-error *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
                            Please enter a valid last name.
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="userName" placeholder="Username" required>
                        <mat-error *ngIf="signupForm.get('userName')?.invalid && signupForm.get('username')?.touched">
                            Please enter a valid Username.
                        </mat-error>
                    </mat-form-field>
    
    
    
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="Email" required>
                        <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
                            Please enter a valid email.
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phone" placeholder="Phone Number" required>
                        <mat-error *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
                            Please enter a phone number.
                        </mat-error>
                    </mat-form-field>
    
    
    
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="{{hidePassword ? 'password':'text'}}" formControlName="password"
                            placeholder="Password" required>
                        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                            <mat-icon>{{hidePassword ? 'visibility_off': 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
                            Please enter a valid password.
                        </mat-error>
                    </mat-form-field>
    
    
                    <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid"
                        (click)="onSubmit()">
                        Create an Account
                    </button>
    
    
    
    
    
    
                </form>
    
    
            </mat-card-content>
        </mat-card>
    </div>
</div>
</section>
